Cross Vadation: K-Fold CV, stratified Fold CV, Time Series CV

## Part 1: Data preprocessing

### Importing the libraries

In [18]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

### Importing the dataset

In [19]:
df = pd.read_csv('Churn_Modelling.csv')

### Review data

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [21]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [22]:
df.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

### Split data into the independent vs dependent variables

In [28]:
X = df.iloc[:,3:13].values
y = df.iloc[:,-1].values

### Encoding categorical data

In [24]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

For Geography,

In [29]:
labelencoder_X_1 = LabelEncoder()

In [30]:
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])# column [1] for Geography

For gender,

In [31]:
labelencoder_X_2 = LabelEncoder()

In [33]:
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

In [34]:
# create dummy variable for countries column:
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
#remove the 1st column to avoid dummy variable trap:
X = X[:,1:]

### Split data into train and test sets

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25, random_state = 0)

### Feature Scaling

In [35]:
from sklearn.preprocessing import StandardScaler

In [36]:
sc_X = StandardScaler()

In [40]:
X_train = sc_X.fit_transform(X_train)

In [41]:
X_test = sc_X.fit_transform(X_test)

## Part 2: Making the ANN

### Import the Keras libraries and packages:

In [43]:
import keras 
from keras.models import Sequential  #initialize the neural network
from keras.layers import Dense # bulid the layers of ANN

### Initialising the ANN:

In [44]:
classifier = Sequential()

### Adding the input layer and the first hidden layer:

In [45]:
classifier.add(Dense(6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))

Note:
    - The 1st hidden layer has 6 nodes
    - 'uniform': initialize the weights randomly and close to zero
    - 'relu': rectifier activation function
    - rectifier for hidden layers  (sigmoid func for output layer)

### Adding the 2nd hidden layer:

In [46]:
classifier.add(Dense(6, kernel_initializer = 'uniform', activation = 'relu'))

### Adding the output layer:

In [47]:
classifier.add(Dense(1, kernel_initializer = 'uniform', activation = 'sigmoid'))

Note:
    - For the output more 2 categories (ex:3), we have to change the number of units and the activation func by 3 and 'softmax'.
    - Softmax is the sigmoid function to three or more categories output.

 ### Compiling the ANN:

In [48]:
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'] )

Here,
    - _optimizer_: algorithm to find the optimal set of weights
    - _loss_: for the output more 2 categories (ex:3), we change to 'categorical_crossentropy'.
    - _metrics_: criterion to evaluate our model.

### Fitting the ANN to the Training set:

In [49]:
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

Epoch 1/100
7500/7500 [==============================] - 4s 471us/step - loss: 0.5007 - acc: 0.7956
Epoch 2/100
7500/7500 [==============================] - 2s 264us/step - loss: 0.4306 - acc: 0.7963
Epoch 3/100
7500/7500 [==============================] - 2s 297us/step - loss: 0.4259 - acc: 0.7963
Epoch 4/100
7500/7500 [==============================] - 2s 274us/step - loss: 0.4219 - acc: 0.7975
Epoch 5/100
7500/7500 [==============================] - 2s 292us/step - loss: 0.4187 - acc: 0.8196
Epoch 6/100
7500/7500 [==============================] - 2s 287us/step - loss: 0.4166 - acc: 0.8252
Epoch 7/100
7500/7500 [==============================] - 2s 269us/step - loss: 0.4151 - acc: 0.8267
Epoch 8/100
7500/7500 [==============================] - 2s 279us/step - loss: 0.4138 - acc: 0.8287
Epoch 9/100
7500/7500 [==============================] - 2s 290us/step - loss: 0.4126 - acc: 0.8305
Epoch 10/100
7500/7500 [==============================] - 2s 272us/step - loss: 0.4118 - acc: 0.8309
Epoch 11/100
7500/7500 [==============================] - 2s 304us/step - loss: 0.4109 - acc: 0.8331
Epoch 12/100
7500/7500 [==============================] - 2s 307us/step - loss: 0.4102 - acc: 0.8331
Epoch 13/100
7500/7500 [==============================] - 2s 285us/step - loss: 0.4095 - acc: 0.8316 0s - loss: 0.
Epoch 14/100
7500/7500 [==============================] - 2s 324us/step - loss: 0.4095 - acc: 0.8327
Epoch 15/100
7500/7500 [==============================] - 2s 298us/step - loss: 0.4086 - acc: 0.8341
Epoch 16/100
7500/7500 [==============================] - 2s 276us/step - loss: 0.4084 - acc: 0.8327
Epoch 17/100
7500/7500 [==============================] - 2s 280us/step - loss: 0.4080 - acc: 0.8340
Epoch 18/100
7500/7500 [==============================] - 2s 316us/step - loss: 0.4076 - acc: 0.8349
Epoch 19/100
7500/7500 [==============================] - 3s 340us/step - loss: 0.4073 - acc: 0.8345
Epoch 20/100
7500/7500 [==============================] - 2s 291us/step - loss: 0.4064 - acc: 0.8333
Epoch 21/100
7500/7500 [==============================] - 2s 291us/step - loss: 0.4060 - acc: 0.8327
Epoch 22/100
7500/7500 [==============================] - 2s 321us/step - loss: 0.4060 - acc: 0.8348
Epoch 23/100
7500/7500 [==============================] - 2s 306us/step - loss: 0.4059 - acc: 0.8343
Epoch 24/100
7500/7500 [==============================] - 2s 281us/step - loss: 0.4054 - acc: 0.8352
Epoch 25/100
7500/7500 [==============================] - 2s 285us/step - loss: 0.4049 - acc: 0.8344
Epoch 26/100
7500/7500 [==============================] - 2s 287us/step - loss: 0.4051 - acc: 0.8337
Epoch 27/100
7500/7500 [==============================] - 2s 289us/step - loss: 0.4048 - acc: 0.8344
Epoch 28/100
7500/7500 [==============================] - 2s 305us/step - loss: 0.4045 - acc: 0.8340
Epoch 29/100
7500/7500 [==============================] - 2s 292us/step - loss: 0.4041 - acc: 0.8337
Epoch 30/100
7500/7500 [==============================] - 2s 286us/step - loss: 0.4041 - acc: 0.8340
Epoch 31/100
7500/7500 [==============================] - 2s 293us/step - loss: 0.4040 - acc: 0.8341
Epoch 32/100
7500/7500 [==============================] - 2s 284us/step - loss: 0.4039 - acc: 0.8352
Epoch 33/100
7500/7500 [==============================] - 2s 291us/step - loss: 0.4036 - acc: 0.8341
Epoch 34/100
7500/7500 [==============================] - 2s 284us/step - loss: 0.4034 - acc: 0.8352
Epoch 35/100
7500/7500 [==============================] - 2s 285us/step - loss: 0.4035 - acc: 0.8347
Epoch 36/100
7500/7500 [==============================] - 2s 284us/step - loss: 0.4032 - acc: 0.8336
Epoch 37/100
7500/7500 [==============================] - 2s 280us/step - loss: 0.4029 - acc: 0.8337
Epoch 38/100
7500/7500 [==============================] - 2s 284us/step - loss: 0.4027 - acc: 0.8349
Epoch 39/100
7500/7500 [==============================] - 2s 292us/step - loss: 0.4028 - acc: 0.8343
Epoch 40/100
7500/7500 [==============================] - 2s 282us/step - loss: 0.4032 - acc: 0.8340
Epoch 41/100
7500/7500 [==============================] - 2s 280us/step - loss: 0.4025 - acc: 0.8345
Epoch 42/100
7500/7500 [==============================] - 2s 280us/step - loss: 0.4026 - acc: 0.8329
Epoch 43/100
7500/7500 [==============================] - 2s 282us/step - loss: 0.4025 - acc: 0.8344
Epoch 44/100
7500/7500 [==============================] - 2s 281us/step - loss: 0.4022 - acc: 0.8340
Epoch 45/100
7500/7500 [==============================] - 2s 282us/step - loss: 0.4025 - acc: 0.8347
Epoch 46/100
7500/7500 [==============================] - 2s 287us/step - loss: 0.4024 - acc: 0.8340
Epoch 47/100
7500/7500 [==============================] - 2s 274us/step - loss: 0.4021 - acc: 0.8344
Epoch 48/100
7500/7500 [==============================] - 2s 286us/step - loss: 0.4020 - acc: 0.8336
Epoch 49/100
7500/7500 [==============================] - 2s 290us/step - loss: 0.4020 - acc: 0.8323
Epoch 50/100
7500/7500 [==============================] - 2s 282us/step - loss: 0.4015 - acc: 0.8345
Epoch 51/100
7500/7500 [==============================] - 2s 326us/step - loss: 0.4021 - acc: 0.8337
Epoch 52/100
7500/7500 [==============================] - 2s 299us/step - loss: 0.4021 - acc: 0.8343
Epoch 53/100
7500/7500 [==============================] - 2s 283us/step - loss: 0.4018 - acc: 0.8341
Epoch 54/100
7500/7500 [==============================] - 2s 285us/step - loss: 0.4018 - acc: 0.8344
Epoch 55/100
7500/7500 [==============================] - 2s 324us/step - loss: 0.4018 - acc: 0.8356
Epoch 56/100
7500/7500 [==============================] - 3s 428us/step - loss: 0.4017 - acc: 0.8333
Epoch 57/100
7500/7500 [==============================] - 3s 360us/step - loss: 0.4014 - acc: 0.8321
Epoch 58/100
7500/7500 [==============================] - 2s 323us/step - loss: 0.4017 - acc: 0.8339
Epoch 59/100
7500/7500 [==============================] - 2s 285us/step - loss: 0.4016 - acc: 0.8331
Epoch 60/100
7500/7500 [==============================] - 2s 297us/step - loss: 0.4013 - acc: 0.8336
Epoch 61/100
7500/7500 [==============================] - 2s 318us/step - loss: 0.4016 - acc: 0.8365
Epoch 62/100
7500/7500 [==============================] - 2s 320us/step - loss: 0.4017 - acc: 0.8328
Epoch 63/100
7500/7500 [==============================] - 2s 294us/step - loss: 0.4016 - acc: 0.8337
Epoch 64/100
7500/7500 [==============================] - 2s 291us/step - loss: 0.4014 - acc: 0.8340
Epoch 65/100
7500/7500 [==============================] - 2s 302us/step - loss: 0.4013 - acc: 0.8347
Epoch 66/100
7500/7500 [==============================] - 2s 303us/step - loss: 0.4013 - acc: 0.8332
Epoch 67/100
7500/7500 [==============================] - 2s 318us/step - loss: 0.4011 - acc: 0.8325
Epoch 68/100
7500/7500 [==============================] - 2s 296us/step - loss: 0.4010 - acc: 0.8337
Epoch 69/100
7500/7500 [==============================] - 2s 289us/step - loss: 0.4012 - acc: 0.8345
Epoch 70/100
7500/7500 [==============================] - 2s 301us/step - loss: 0.4012 - acc: 0.8337
Epoch 71/100
7500/7500 [==============================] - 2s 297us/step - loss: 0.4008 - acc: 0.8348
Epoch 72/100
7500/7500 [==============================] - 2s 308us/step - loss: 0.4007 - acc: 0.8347
Epoch 73/100
7500/7500 [==============================] - 2s 300us/step - loss: 0.4006 - acc: 0.8337
Epoch 74/100
7500/7500 [==============================] - 2s 307us/step - loss: 0.4007 - acc: 0.8341
Epoch 75/100
7500/7500 [==============================] - 2s 291us/step - loss: 0.4009 - acc: 0.8337
Epoch 76/100
7500/7500 [==============================] - 2s 304us/step - loss: 0.4009 - acc: 0.8345
Epoch 77/100
7500/7500 [==============================] - 2s 292us/step - loss: 0.4010 - acc: 0.8333 0s - loss: 0.3987
Epoch 78/100
7500/7500 [==============================] - 2s 284us/step - loss: 0.4005 - acc: 0.8339
Epoch 79/100
7500/7500 [==============================] - 2s 289us/step - loss: 0.4007 - acc: 0.8344
Epoch 80/100
7500/7500 [==============================] - 2s 302us/step - loss: 0.4006 - acc: 0.8340
Epoch 81/100
7500/7500 [==============================] - 2s 266us/step - loss: 0.4002 - acc: 0.8324
Epoch 82/100
7500/7500 [==============================] - 2s 251us/step - loss: 0.4006 - acc: 0.8327
Epoch 83/100
7500/7500 [==============================] - 2s 246us/step - loss: 0.4005 - acc: 0.8339
Epoch 84/100
7500/7500 [==============================] - 2s 249us/step - loss: 0.4004 - acc: 0.8339
Epoch 85/100
7500/7500 [==============================] - 2s 264us/step - loss: 0.4007 - acc: 0.8336
Epoch 86/100
7500/7500 [==============================] - 2s 272us/step - loss: 0.4004 - acc: 0.8333
Epoch 87/100
7500/7500 [==============================] - 2s 259us/step - loss: 0.4006 - acc: 0.8328
Epoch 88/100
7500/7500 [==============================] - 2s 269us/step - loss: 0.4004 - acc: 0.8335
Epoch 89/100
7500/7500 [==============================] - 2s 296us/step - loss: 0.4006 - acc: 0.8333
Epoch 90/100
7500/7500 [==============================] - 2s 301us/step - loss: 0.4007 - acc: 0.8331
Epoch 91/100
7500/7500 [==============================] - 2s 263us/step - loss: 0.4007 - acc: 0.8337
Epoch 92/100
7500/7500 [==============================] - 2s 264us/step - loss: 0.4002 - acc: 0.8321
Epoch 93/100
7500/7500 [==============================] - 2s 266us/step - loss: 0.4006 - acc: 0.8336
Epoch 94/100
7500/7500 [==============================] - 2s 290us/step - loss: 0.4005 - acc: 0.8352
Epoch 95/100
7500/7500 [==============================] - 2s 287us/step - loss: 0.4003 - acc: 0.8328
Epoch 96/100
7500/7500 [==============================] - 2s 287us/step - loss: 0.4004 - acc: 0.8344
Epoch 97/100
7500/7500 [==============================] - ETA: 0s - loss: 0.3999 - acc: 0.833 - 2s 303us/step - loss: 0.4009 - acc: 0.8327
Epoch 98/100
7500/7500 [==============================] - 2s 279us/step - loss: 0.4006 - acc: 0.8332
Epoch 99/100
7500/7500 [==============================] - 2s 285us/step - loss: 0.4005 - acc: 0.8351
Epoch 100/100
7500/7500 [==============================] - 2s 283us/step - loss: 0.4002 - acc: 0.8328

Here,             
    - bacth_size: the number of observations after  which you want to update the weights
     - epochs : number of rounds that the whole training set pass through the ANN

### Making the predictions and evaluating the model:

#### Predicting the Test set results:

In [50]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

#### Making the confusion matrix

In [51]:
from sklearn.metrics import confusion_matrix

In [52]:
cm = confusion_matrix(y_test,y_pred)

In [53]:
cm

array([[1940,   51],
       [ 342,  167]])